{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}
<main>
  <div class="container py-4 nagoyameshi-container">
    <div class="row justify-content-center">
      {% comment %} <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7"> {% endcomment %}
      <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
          {% comment %} <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12"> {% endcomment %}
        <h1 class="mb-4 text-center">ログイン</h1>
        <form method="post" action="{% url 'login' %}">
        {% comment %} <form method="post" action="{% url 'account_login' %}"> {% endcomment %}
          {% csrf_token %}
          <label for="name" class="col-md-5 col-form-label text-md-left fw-bold">
            <span class="me-1">メールアドレス</span>
          </label>
          <div class="form-group mb-3">
            {{ form.login }}
          </div>
          <label for="name" class="col-md-5 col-form-label text-md-left fw-bold">
            <span class="me-1">パスワード</span>
          </label>
          <div class="form-group mb-3">
            {{ form.password }}
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <div class="form-group d-flex justify-content-center mb-4">
            <button type="submit" class="btn btn-primary text-white shadow-sm w-100">ログイン</button>
          </div>
        </form>
        <hr class="my-4">
        <div class="text-center">
          <a href="{% url 'account_reset_password' %}">パスワードを忘れた場合はこちら</a>
        </div>
        <br>
        <div class="text-center">
          <a href="{% url 'account_signup' %}">新規会員登録はこちら</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}